<!DOCTYPE html>

{% load static %}

<html>
<head>
    <meta charset='utf-8' />
    <title>{{ title }}</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel='stylesheet' />
    <link href="{% static "map/map.css" %}" rel='stylesheet' />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <div id='map'></div>

    <div id="o-wrapper" class="o-wrapper">
      <div class="c-buttons">
        <button id="c-button--slide-right" class="c-button">Custom map</button>
      </div>
    </div>

    <nav id="c-menu--slide-right" class="c-menu c-menu--slide-right">
        <button class="c-menu__close">&larr; Close Menu</button>
        <button id="myBtnAddLayer" class="c-menu__add-layer">Add layer</button>
        <button id="myBtnDelLayer" class="c-menu__del-layer">Delete layer</button>
        <hr style="margin: 15px 0 5px 0;">
        <ul class="c-menu__items">
            <li class="c-menu__item">
                <input id='all' type='checkbox' name='rtoggle' value='all' checked='checked'>
                <label for='all'>all</label>
            </li>
            {% for item in list_item %}
                <li class="c-menu__item">
                    <input id='{{ item }}' type='checkbox' name='rtoggle' value='{{ item }}' checked='checked'>
                    <label for='{{ item }}'>{{ item }}</label>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <div id="myModalAddLayer" class="modal">
        <div class="modal-content">
            <span class="closeAddLayer">×</span>
            <h2>Upload your layer</h2>
            <hr>
            <form id="form_add_layer" action="/add-layer" method="POST">
                <p id="requireAddLayer">« You need to select a file. »</p>
                <input type="text" name="layerNameAdd" id="layerNameAdd" class="input-text" placeholder="Layer name" required />
                <input type="file" name="fileGeoJSON" id="fileGeoJSON" class="inputfile input-design" accept=".json, .geojson" required />
                <label for="fileGeoJSON"><span>Choose a file with the geometry</label>
                <input id="form_submit_input_add" class="tp-button input-design" type="submit" value="Envoyer" />
                <label for="form_submit_input_add"><i class="fa fa-upload" aria-hidden="true"></i></label>
            </form>
        </div>
    </div>

    <div id="myModalDelLayer" class="modal">
        <div class="modal-content">
            <span class="closeDelLayer">×</span>
            <h2>Delete your layer</h2>
            <hr>
            <form id="form_delete_layer" action="/delete-layer" method="POST">
                <p id="requireDelLayer">« This layer dont exist or cant be deleted. »</p>
                <input type="text" name="layerNameDel" id="layerNameDel" class="input-text" placeholder="Layer name" required />
                <input id="form_submit_input_del" class="tp-button input-design" type="submit" value="Envoyer" />
                <label for="form_submit_input_del"><i class="fa fa-upload" aria-hidden="true"></i></label>
            </form>
        </div>
    </div>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
    <script src="http://malsup.github.io/jquery.form.js"></script>
    <script>
        // Creation of the Mapbox map
        mapboxgl.accessToken = '{{ mapboxAccessToken }}';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'style',
            center: {{ startingPosition }}, // starting position
            zoom: {{ startingZoom }} // starting zoom
        });

        // Add the navigations controls
        map.addControl(new mapboxgl.Navigation({position: 'top-left'}));

        // Ajax request to get the style file
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'http://{{ django_host }}:{{ django_port }}/style');
        xhr.send(null);
        xhr.onreadystatechange = function () {
          var DONE = 4;
          var OK = 200;
          if (xhr.readyState === DONE) {
            if (xhr.status === OK) {
              jsonStyle = JSON.parse(xhr.responseText);

              var layerList = document.getElementById('c-menu--slide-right');
              var inputs = layerList.getElementsByTagName('input');

              allLayers = jsonStyle.layers;
              allLayersId = [];
              allLayersSources = [];

              // Recovery of all the layers id and source-layer
              for (var i = 1; i < allLayers.length; i++) {
                  allLayersId[i] = allLayers[i]['id'];
                  allLayersSources[i] = allLayers[i]['source-layer'];
              }

              allLayersSourcesAndId = [[]];
              nameLayersSources = [];

              // Add into one list for each source-layer all the id of it
              // Add the name of all the source-layer into one list
              for (var i = 0; i < allLayersId.length; i++) {
                  if (typeof allLayersSourcesAndId[allLayersSources[i]] == 'undefined') {
                      nameLayersSources.push(allLayersSources[i]);
                      allLayersSourcesAndId[allLayersSources[i]] = [allLayersId[i]];
                  }
                  else {
                      allLayersSourcesAndId[allLayersSources[i]].push(allLayersId[i]);
                  }
              }

              // Ajax request for the multiple-style file
              xhrMultipleStyle = new XMLHttpRequest();
              xhrMultipleStyle.open('GET', 'http://{{ django_host }}:{{ django_port }}/multiple-style');
              xhrMultipleStyle.send(null);
              xhrMultipleStyle.onreadystatechange = function () {
                var DONEMultipleStyle = 4;
                var OKMultipleStyle = 200;
                if (xhrMultipleStyle.readyState === DONEMultipleStyle) {
                  if (xhrMultipleStyle.status === OKMultipleStyle) {
                      jsonMultipleStyle = JSON.parse(xhrMultipleStyle.responseText);
                      // Add the other style only if 'multiple_style' is true
                      if (jsonMultipleStyle.multiple_style === true) {
                          map.on('load', function () {
                            // Add of all sources
                            for (var i = 0; i < Object.keys(jsonMultipleStyle.sources).length; i++) {
                                map.addSource(Object.keys(jsonMultipleStyle.sources)[i], {
                                    type: jsonMultipleStyle.sources[Object.keys(jsonMultipleStyle.sources)[i]]["type"],
                                    tiles: jsonMultipleStyle.sources[Object.keys(jsonMultipleStyle.sources)[i]]["tiles"],
                                    maxzoom: jsonMultipleStyle.sources[Object.keys(jsonMultipleStyle.sources)[i]]["maxzoom"],
                                    minzoom: jsonMultipleStyle.sources[Object.keys(jsonMultipleStyle.sources)[i]]["minzoom"]
                                });
                            }
                            // Add of all layers

                            for (var y of jsonMultipleStyle.layers) {
                                var newObject = {};
                                for (var z of Object.keys(y)) {
                                    if (z !== "before") newObject[z] = y[z];
                                }

                                map.addLayer(newObject, y['before']);

                                // Add into one list for each source-layer all the id of it
                                // Add the name of all the source-layer into one list
                                if (typeof y['source-layer'] != 'undefined') {
                                    if (typeof allLayersSourcesAndId[y['source-layer']] == 'undefined') {
                                        nameLayersSources.push(y['source-layer']);
                                        allLayersSourcesAndId[y['source-layer']] = [y['id']];
                                    }
                                    else {
                                        allLayersSourcesAndId[y['source-layer']].push(y['id']);
                                    }
                                }
                            }
                        });
                      }
                  }
                }
              }

              for (var i = 0; i < inputs.length; i++) {
                  // When you click on a checkbox
                  inputs[i].onclick = function (e) {
                      var id = e.path[0].id;
                      idList = [];

                      // If its not the all checkbox
                      if (id != 'all') {
                          idList = allLayersSourcesAndId[id];
                          if (inputs[0].checked == true) {
                              inputs[0].checked = false;
                          }
                          nbInputChecked = 0;
                          for (var w = 1; w < nameLayersSources.length; w++) {
                              if (inputs[w].checked == true){
                                  nbInputChecked++;
                              }
                          }
                          if (nbInputChecked == nameLayersSources.length - 1) {
                              inputs[0].checked = true;
                          }
                      } else {
                          for (var y = 1; y < nameLayersSources.length; y++) {
                              for (var z = 0; z < allLayersSourcesAndId[nameLayersSources[y]].length; z++) {
                                  idList.push(allLayersSourcesAndId[nameLayersSources[y]][z]);
                              }
                              if (inputs[0].checked == false) {
                                  inputs[y].checked = false;
                              } else {
                                  inputs[y].checked = true;
                              }
                          }
                      }

                      // To change the visibility of the layer
                      idList.forEach(function(id2) {
                          var visibility = map.getLayoutProperty(id2, 'visibility');

                          if (id != 'all') {
                              if (visibility === 'none') {
                                  this.className = 'active';
                                  map.setLayoutProperty(id2, 'visibility', 'visible');
                              }
                              else {
                                  map.setLayoutProperty(id2, 'visibility', 'none');
                                  this.className = '';
                              }
                          } else {
                            if (inputs[0].checked == false) {
                                map.setLayoutProperty(id2, 'visibility', 'none');
                                this.className = '';
                            } else {
                                this.className = 'active';
                                map.setLayoutProperty(id2, 'visibility', 'visible');
                            }
                          }

                      });
                  };
              }
            }
          }
        };

        // ADD LAYER
        var modalAddLayer = document.getElementById('myModalAddLayer');
        var btnAddLayer = document.getElementById("myBtnAddLayer");
        var spanAddLayer = document.getElementsByClassName("closeAddLayer")[0];
        btnAddLayer.onclick = function() {
            modalAddLayer.style.display = "block";
        }
        spanAddLayer.onclick = function() {
            modalAddLayer.style.display = "none";
        }
        var optionsAddLayer = {
          dataType: 'xml',
          url: '/add-layer',
          beforeSubmit: showRequestAddLayer,
          success: showResponseAddLayer
        }
        $('#form_add_layer').submit(function() {
            $(this).ajaxSubmit(optionsAddLayer);

            return false;
        });
        function showRequestAddLayer(formData, jqForm, optionsAddLayer) {
            return true;
        }
        function showResponseAddLayer(response) {
            window.location = "http://{{ django_host }}:{{ django_port }}";
        }

        // DELETE LAYER
        var modalDelLayer = document.getElementById('myModalDelLayer');
        var btnDelLayer = document.getElementById("myBtnDelLayer");
        var spanDelLayer = document.getElementsByClassName("closeDelLayer")[0];
        btnDelLayer.onclick = function() {
            modalDelLayer.style.display = "block";
        }
        spanDelLayer.onclick = function() {
            modalDelLayer.style.display = "none";
        }
        var optionsDelLayer = {
          dataType: 'xml',
          url: '/delete-layer',
          beforeSubmit: showRequestDelLayer,
          statusCode: {
            202: function() {
              showResponseDelLayer(202);
            },
            200: function() {
              showResponseDelLayer(200);
            }
          }
        }
        $('#form_delete_layer').submit(function() {
            $(this).ajaxSubmit(optionsDelLayer);

            return false;
        });
        function showRequestDelLayer(formData, jqForm, optionsDelLayer) {
            return true;
        }
        function showResponseDelLayer(response) {
            if (response == 202){
                document.getElementById("requireDelLayer").style.display = "block";
            }
            else{
                window.location = "http://{{ django_host }}:{{ django_port }}";
            }
        }

        var nav = document.getElementById("c-menu--slide-right");
        window.onclick = function(event) {
            if (event.target == modalAddLayer) {
                modalAddLayer.style.display = "none";
            }
            if (event.target == modalDelLayer) {
                modalDelLayer.style.display = "none";
            }
            if (event.target == btnDelLayer) {
                modalAddLayer.style.display = "none";
            }
            if (event.target == btnAddLayer) {
                modalDelLayer.style.display = "none";
            }
        }

        var inputs = document.querySelectorAll( '.input-design' );
        Array.prototype.forEach.call( inputs, function( input )
        {
        	var label	 = input.nextElementSibling,
        		labelVal = label.innerHTML;

        	input.addEventListener( 'change', function( e )
        	{
        		var fileName = '';
        		fileName = e.target.value.split( '\\' ).pop();

        		if( fileName ) {
        			label.querySelector( 'span' ).innerHTML = fileName;
                    document.getElementById('requireAddLayer').style.display = 'none';
                }
        		else
        			label.innerHTML = labelVal;
        	});
        });

        document.addEventListener("DOMContentLoaded", function() {
            var element = document.getElementById("fileGeoJSON");
            element.oninvalid = function(e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    document.getElementById('requireAddLayer').style.display = 'block';
                }
            };
            element.oninput = function(e) {
                e.target.setCustomValidity("");
            };
        })

        $('#fileGeoJSON').on("invalid", function(e) {
            e.preventDefault();
        });
    </script>
    <script type="text/javascript" src="{% static "map/menu.js" %}"></script>
</body>
</html>
