<!DOCTYPE html>

{% load static %}

<html>
<head>
    <meta charset='utf-8' />
    <title>{{ title }}</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel='stylesheet' />
    <link href="{% static "map/map.css" %}" rel='stylesheet' />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <div id='map'></div>

    <div id="o-wrapper" class="o-wrapper">
      <div class="c-buttons">
        <button id="c-button--slide-right" class="c-button">Custom map</button>
      </div>
    </div>

    <nav id="c-menu--slide-right" class="c-menu c-menu--slide-right">
        <button class="c-menu__close">&larr; Close Menu</button>
        <button id="myBtnAddLayer" class="c-menu__add-layer">Add layer</button>
        <button id="myBtnDelLayer" class="c-menu__del-layer">Delete layer</button>
        <hr style="margin: 15px 0 5px 0;">
        <ul class="c-menu__items">
            <li class="c-menu__item">
                <input id='all' type='checkbox' name='rtoggle' value='all' checked='checked'>
                <label for='all'>all</label>
            </li>
            {% for item in list_item %}
                <li class="c-menu__item">
                    <input id='{{ item }}' type='checkbox' name='rtoggle' value='{{ item }}' checked='checked'>
                    <label for='{{ item }}'>{{ item }}</label>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <div id="myModalAddLayer" class="modal">
        <div class="modal-content">
            <span class="closeAddLayer">×</span>
            <h2>Upload your layer</h2>
            <hr>
            <form id="form_add_layer" action="/add-layer" method="POST">{% csrf_token %}
                <p id="requireAddLayer">« You need to select a file. »</p>
                <input type="text" name="layerNameAdd" id="layerNameAdd" class="input-text" placeholder="Layer name" required />
                <input type="file" name="fileGeoJSON" id="fileGeoJSON" class="inputfile input-design" accept=".json, .geojson" required />
                <label for="fileGeoJSON"><span>Choose a file with the geometry</label>
                <input id="form_submit_input_add" class="tp-button input-design" type="submit" value="Envoyer" />
                <label for="form_submit_input_add"><i class="fa fa-upload" aria-hidden="true"></i></label>
            </form>
        </div>
    </div>

    <div id="myModalDelLayer" class="modal">
        <div class="modal-content">
            <span class="closeDelLayer">×</span>
            <h2>Delete your layer</h2>
            <hr>
            <form id="form_delete_layer" action="/delete-layer" method="POST">{% csrf_token %}
                <p id="requireDelLayer">« This layer dont exist or cant be deleted. »</p>
                <input type="text" name="layerNameDel" id="layerNameDel" class="input-text" placeholder="Layer name" required />
                <input id="form_submit_input_del" class="tp-button input-design" type="submit" value="Envoyer" />
                <label for="form_submit_input_del"><i class="fa fa-upload" aria-hidden="true"></i></label>
            </form>
        </div>
    </div>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="crossorigin="anonymous"></script>
    <script src="http://malsup.github.io/jquery.form.js"></script>
    <script>
        // Create the variables for the javascript scripts
        window.vtParameters = {
            mapboxAccessToken: '{{ mapboxAccessToken }}',
            startingPosition: {{ startingPosition }},
            startingZoom: {{ startingZoom }},
            djangoHost: '{{ django_host }}',
            djangoPort: {{ django_port }}
        }
    </script>
    <script type="text/javascript" src="{% static "map/map.js" %}"></script>
    <script type="text/javascript" src="{% static "map/style.js" %}"></script>
    <script type="text/javascript" src="{% static "map/modal-ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "map/input-custom.js" %}"></script>
    <script type="text/javascript" src="{% static "map/menu.js" %}"></script>
</body>
</html>
